.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: 400;
  font-size: 40px;
}
.movies {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  gap: 80px;
  padding: 40px;
  width: 80%;
}
